
/* 10. Форма зворотного зв'язку має з'являтися з fade-ефектом */
#feedback-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s ease forwards;  /* Анімація для fadeIn */
  opacity: 0;
}


/* Анімація появи  */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

main {
  flex: 1 0 auto;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}

/* 1. Шапка сайту */
header {
  background: #f5f5f5;
  padding: 20px 0;
}

/* Форма зворотного зв'язку */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease forwards;
}

.modal input,
.modal textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
}

/* Повідомлення про помилки */
.input-error {
  border: 1px solid red;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  outline: none;
}


.input-error::placeholder {
  color: #ccc;
}

.modal button {
  width: 100%;
  background: #444;
  color: #fff;
  border: none;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.modal button:hover {
  background: #222;
}

aside h5 {
  font-weight: bold;
  margin-bottom: 15px;
}

aside ul li {
  margin-bottom: 5px;
}

.breadcrumb {
  background: none;
  padding: 0;
  margin-bottom: 20px;
  font-size: 14px;
}

/* Бічна панель*/
aside {
  font-family: "PT Sans Local", sans-serif;
}

aside ul li > a,
aside ul li > strong {
  display: block;
  padding: 2px 6px;
  color: #333;
  text-decoration: none;
  border-radius: 6px;
  font-size: 16px;
}

aside ul li ul li a {
  font-size: 13px;
  color: #555;
}

aside .text-center a {
  color: #333;
}

.breadcrumb-item a {
  color: #666;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.page {
  color: #000;
  cursor: pointer;
  font-size: 14px;
}

.page.active {
  font-size: 20px;
  font-weight: bold;
}


/* Кнопки-перемикачі (стрілки) */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 50px;
  background-color: #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
}

.arrow img {
  width: 20px;
  height: 20px;
}

.arrow.left {
  left: 250px;
}

.arrow.right {
  right: 250px;
}

.underline {
  text-decoration: underline;
}